
.card-img-top {
  border-radius: 50%;
}
.carousel-caption d-none d-md-block {
	color: primary;
}
#gallery img:hover{
	transform: scale(1.1);

}
#slidder.carousel-inner{
	height='90vb'
}
